.extra {
  background-color: orange;
  color: silver;
  letter-spacing: 1em;
  text-decoration: line-through;
}

.link-in-grid{
  background-color: silver;
  text-align: center;
  color: gold;
}

.ictModules {
  padding: 0em;
}

.ictModule{
  background-color: white;
  padding: 1vh;
  margin-bottom: 3vh;
  border-radius: .5em;
}

.ictProjects {
  padding: 0em;
}

.ictProject{
  background-color: white;
  padding: 1vh;
  margin-bottom: 3vh;
}

.smallImage{
  max-width: 4em;
  max-height: 4em;
  padding: 2px;
}

.logo{
  max-width: 2em;
  max-height: 2em;
  padding: 0px;
}
