a {
  /* text-decoration: none; */
  text-decoration: underline;
}

.content {
  background-color: white;
}

.ictModules {
  padding: 0em;
}

.spacer, .ictModules details > div {
  padding: 1vw;
}

.ictModules summary{
  background-color: lightgray;
  padding: 1vw;
  border-radius: .5em;
}

.ictModules details {
  margin-left: 0.5em;
  border-left-color: gold;
  border-left-width: 2px;
  border-left-style: solid;
  border-radius: .5em;
}

.ictModules details > summary:hover, .ictModules details[open] > summary{
  background-color: gray;
}

.ictModules li {
  margin-bottom: 2vh;
  margin-top: : 2vh;
  border-radius: .5em;
}

.ictModules  ul {
  padding-left: 0;
}

.filler {
  background-image: url("p.png");
  background-position: center;
}

@media only screen and (max-width: 768px), (orientation: portrait) {
  .ictModules > ul {
    padding-left: 0;
  }
}

.smallImage{
  max-width: 4em;
  max-height: 4em;
  padding: 0.5vw;
}

.logo{
  max-width: 2em;
  max-height: 2em;
  padding: 0;
}
