.extra {
  background-color: orange;
  color: silver;
  letter-spacing: 1em;
  text-decoration: line-through;
}

.link-in-grid{
  background-color: silver;
  text-align: center;
  color: black;
  border-radius: 0.5vw;
}

a {
  text-decoration: none;
}

.ictModules {
  padding: 0em;
}

.ictModules ul li details div{
  padding: 1vw;
}

.ictModules ul li details{
  margin-bottom: 2vw;
  border-radius: .5em;
  background-color: #E7EEEE;
}

.ictModules ul li details summary{
  background-color: white;
  padding: 1vw;
  border-radius: .5em;
}

.ictModules ul {
  list-style: none;
  padding-left: 1em;
}
@media only screen and (max-width: 768px), (orientation: portrait) {
  .ictModules ul {
    padding-left: 0;
  }
}

.smallImage{
  max-width: 4em;
  max-height: 4em;
  padding: 0.5vw;
}

.logo{
  max-width: 2em;
  max-height: 2em;
  padding: 0;
}

details:hover{
  background-color: lightblue;
}
