html {
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

.grid-container {
  display: grid;
  grid-template: 'tb tb tb tb' 'qw ct ct ct' 'qw ct ct ct' 'qq ct ct ct';
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 5px;
  width: 80%;
  align: center;
  margin: auto;
}

.advertisement {
  text-align: center;
  color:black;
}

.indexTitle {
  background-color:purple;
  color:lime;padding:6px;
  text-align:center;
  border-radius:15px;
}

.extra {
  background-color: gold;
  padding: 12px;
  grid-area: qq;
}

.link-grid-container { /* WIP */

  grid-template-rows: auto;
  grid-template-columns: auto;
  display: grid;
  grid-gap: 8px;
  /* padding: 0px; /* parent has all the padding already */
}

.link-in-grid{
  background-color: white;
  /* grid-area: lk; */
  text-align: left;
  padding: 5px;
  color: black;
}

.titlebar {
  grid-area: tb;
  background-color: #7777FF;
  padding: 0px;
  text-align: center;
}

.overview {
  grid-area: qw;
  background-color: #eeeeff;
  padding: 9px;
  /* grid-column: 1 2;
  grid-row: 2 4; */
}

.content {
  grid-area: ct;
  padding: 5px;
  background-color: #b0cccc;
}
@media only screen and (max-width: 768px), (orientation: portrait) {
  .grid-container {
    display: grid;
    grid-template: 'tb tb' 'qw qw' 'qq qq' 'ct ct' 'ct ct' 'ct ct';
    grid-gap: 5px;
    width: 95%;
  }
  .link-grid-container { /* WIP */
    display: grid;
    grid-gap: 2px;
    padding: 0px; /* parent has all the padding already */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-columns: 70px; */
  }
}
