html {
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

.grid-container {
  display: grid;
  grid-template: 'tb tb tb tb' 'qw ct ct ct' 'ex ct ct ct' 'qq ct ct ct';
  grid-template-rows: auto;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 1vw;
  width: 80%;
  align: center;
  margin: auto;
}

.advertisement {
  text-align: center;
  color:black;
}

.filler {
  grid-area: ex;
  background-color: gray;
}

.indexTitle {
  background-color:purple;
  color:lime;padding:6px;
  text-align:center;
  border-radius:15px;
}

.extra {
  background-color: gold;
  padding: 12px;
  grid-area: qq;
}

.link-grid-container { /* WIP */

  grid-template-rows: auto;
  grid-template-columns: auto;
  display: grid;
  grid-gap: 0.5vw;
  /* padding: 0px; /* parent has all the padding already */
}

.link-in-grid{
  background-color: white;
  /* grid-area: lk; */
  text-align: left;
  padding: 0.5vw;
  color: black;
}

.titlebar {
  grid-area: tb;
  background-color: #7777FF;
  padding: 0px;
  text-align: center;
}

.overview {
  grid-area: qw;
  background-color: #eeeeff;
  padding: 1vw;
}

.content {
  grid-area: ct;
  padding: 1vw;
  background-color: #b0cccc;
}
@media only screen and (max-width: 768px), (orientation: portrait) {
  .grid-container {
    display: grid;
    grid-template: 'tb tb' 'qw qw' 'ct ct' 'ct ct' 'ct ct' 'qq qq';
    grid-gap: 1vw;
    width: 95%;
  }
  .link-grid-container { /* WIP */
    display: grid;
    grid-gap: 1vw;
    padding: 0px; /* parent has all the padding already */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-columns: 70px; */
  }
}
